.wraper{width:1200px;margin:0 auto;padding:5px;background:#E9EBEE}
.company{width:1200px;margin:0 auto;padding:5px;background:#1b7187}
.company ul li img{width:180px;height:auto}
.company ul{}
.company ul li{display:inline-block}
.Openion{width:1200px;margin:0 auto;padding:5px;background:#C2FF69}
.Openion ul li{ display:inline-block;}
.Openion ul li img{width:100px;height:auto}
.openiontxt{}
.img{}
.service{width:1200px;margin:0 auto;padding:5px;background:#E9EBEE}
.footer{width:1200px;margin:0 auto;padding:5px;background:#E9EBEE}